@import "tailwindcss";


html, body {
  overscroll-behavior: none;
}

@media (max-width: 768px) {
  .no-scale {
    transform: none !important;
    zoom: 1 !important;
  }
}


img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}